// src/styles/components/branding.module.scss
@import '@/styles/variables';
@import '@/styles/mixins';

.painPoints {
  background-color: $secondary-color;
  padding: $spacing-xl $spacing-md;
  color: $text-primary;

  .splitScreen {
    display: flex;
    justify-content: space-between;
    gap: $spacing-lg;

    @include media($breakpoint-sm) {
      flex-direction: column;
    }
  }

  .problems, .solutions {
    flex: 1;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: $spacing-md;

      li {
        margin-bottom: $spacing-sm;
        padding-left: $spacing-md;
        position: relative;

        &::before {
          content: '✓';
          position: absolute;
          left: 0;
          color: $primary-color;
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  .sectionTitle {
    color: $primary-color;
    font-size: $font-size-large;
    margin-bottom: $spacing-md;
    font-weight: $font-weight-bold;
  }

  .problems {
    border-right: $border-width-thin solid $border-color-light;

    @include media($breakpoint-sm) {
      border-right: none;
      border-bottom: $border-width-thin solid $border-color-light;
      margin-bottom: $spacing-lg;
      padding-bottom: $spacing-lg;
    }
  }

 
}