// src/styles/components/branding.module.scss
@import '@/styles/variables';

.painPoints {
  padding: $spacing-xxl 0;
  background-color: $background-light;
  color: $text-primary;

  .splitScreen {
    display: flex;
    max-width: $breakpoint-lg;
    margin: 0 auto;
    gap: $spacing-xl;

    .problems, .solutions {
      flex: 1;
      padding: $spacing-md;
      border-radius: $border-radius-md;
      transition: transform $transition-duration-medium $transition-timing-function;

      &:hover {
        transform: translateY(-10px);
        box-shadow: $shadow-md;
      }
    }

    .problems {
      background-color: $secondary-color;
    }

    .solutions {
      background-color: $primary-color;
      color: $text-light;
    }

    .sectionTitle {
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      margin-bottom: $spacing-md;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: $font-size-medium;
        margin-bottom: $spacing-sm;
      }
    }
  }
}