/* Header Layout Styles */
.header {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // position: relative;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  // align-items:self-start;
  width: 100%;
}

.logo {
  img {
    width: 150px;
    height: auto;
  }
}

.navLinks ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks li {
  position: relative;
}

.menuIcon {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile Menu */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
  }

  .menuIcon {
    display: block;
  }

  .navLinks.mobile {
    display: block;
  }
}
