@use "../variables" as vars;
@use 'sass:color';


.header {
  background: var(--background);
  padding: 1rem 2rem;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropdowns {
  display: flex;
  gap: 1.5rem;
}
