@use "../variables" as vars;
@use 'sass:color';

.header {
  background: vars.$gradient-background;
  padding: vars.$spacing-medium vars.$spacing-small; // Reduced padding on sides for mobile
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: vars.$spacing-small;
  }
}

.logo {
  // Hide logo on mobile
  @media (max-width: 768px) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: flex-end; // Align items to the right
  max-width: 100%; // Full width on larger screens too

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    display: none; // Hide nav on mobile unless toggled
    width: 100%; // Full width on mobile
  }
}

.mobileOpen {
  @media (max-width: 768px) {
    display: flex;
  }
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: vars.$spacing-small;
  }
}

.navLink {
  background: none;
  border: none;
  font-size: vars.$font-size-base;
  padding: vars.$spacing-small vars.$spacing-medium;
  color: vars.$text-color-on-gradient; 
  // text-transform: none;
  text-decoration: bold;
  transition: vars.$transition;
  
  &:hover {
    color: vars.$primary-color;
  }

  @media (max-width: 768px) {
    font-size: vars.$font-size-base * 0.9;
  }
}

.mobileMenuToggle {
  cursor: pointer;
  font-size: vars.$font-size-xl * 0.8; // Smaller for mobile but still visible
  color: vars.$text-color-light;
  // Position at top right for all screen sizes
  position: absolute;
  right: vars.$spacing-small;
  top: vars.$spacing-small;
  z-index: 1001; // Ensure it's above everything else

  @media (min-width: 769px) {
    display: none; // Hide on desktop
  }
}