// src/styles/components/FinalCTA.module.scss
@import '@/styles/variables';

.finalCTA {
  padding: $spacing-xxl 0;
  background-color: $primary-color;
  color: $text-light;
  text-align: center;

  .ctaTitle {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-lg;
  }

  .ctaButton {
    background-color: $accent-color;
    color: $neutral-color;
    padding: $spacing-md $spacing-lg;
    border-radius: $border-radius-lg;
    font-weight: $font-weight-bold;
    transition: background-color $transition-duration-fast $transition-timing-function;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}