// src/styles/components/wrapper.module.scss
@import '@/styles/variables';

.successMetrics {
  display: flex;
  justify-content: space-around;
  padding: $spacing-xxl 0;
  background-color: $neutral-color;
  color: $text-light;

  .metric {
    text-align: center;

    h3 {
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
      margin-bottom: $spacing-sm;
    }

    p {
      font-size: $font-size-xlarge;
      font-weight: $font-weight-bold;
    }
  }
}