@use '@/styles/variables' as *;

.dashboardLayout {
  min-height: 100vh;
  width: 100%;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: margin-left 0.3s ease; 
  padding: 4rem;
}


@media (min-width: $breakpoint-sm) {
  .gridContainer {
    flex-direction: row;
  }
  .sidebar {
    width: 280px;
  }
}

// @media (min-width: $breakpoint-md) {
//   .sidebar {
//     width: 280px;
//   }
// }

@media (max-width: $breakpoint-xs) {
  .mainContent {
    padding: 0.5rem;
  }
}