// src/styles/dashboard/sidebarmenuitems.module.scss
@use '@/styles/variables' as *;

.logo {
  font-size: $font-size-large; 
  font-weight: $font-weight-bold;
  text-align: center;
  color: $primary-color-dark; 
  padding: 0 16; 
}

.sectionLabel {
  font-size: $font-size-small; 
  font-weight: $font-weight-medium;
  color: $neutral-color-light; 
  letter-spacing: 0.05em; 
//   margin-top: $spacing-md;
}
