@use "../variables" as vars;
@use "sass:color";

.howAberrangeWorksPage {
  padding: vars.$spacing-large;
  background-color: vars.$primary-color;
  color: vars.$text-color-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$spacing-medium;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;

  h1 {
    font-size: vars.$font-size-xl;
    font-weight: vars.$font-weight-bold;
  }

  .closeIcon {
    font-size: 2rem;
    cursor: pointer;
    transition: vars.$transition;

    &:hover {
      color: color.scale(vars.$secondary-color, $lightness: -20%);
    }
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-large;
  width: 100%;
  max-width: 800px;

  .step {
    padding: vars.$spacing-medium;
    background: vars.$gradient-background;
    border-radius: vars.$border-radius-small;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: vars.$font-size-base * 1.5;
      color: vars.$text-color-light;
    }

    p {
      font-size: vars.$font-size-base;
      color: vars.$text-color-light;
    }
  }
}
