// pricing.module.scss

@use '../variables.scss' as vars;
@use 'sass:color';

.pricingPage {
  font-family: 'Arial', sans-serif;
  color: vars.$text-color-dark;
  background-color: vars.$gradient-background;
  padding: vars.$spacing-large;
  border-radius: vars.$border-radius-small;

  .pricingHeader {
    text-align: center;
    margin-bottom: vars.$spacing-large;

    h1 {
      font-size: vars.$font-size-xl;
      font-weight: vars.$font-weight-bold;
      color: vars.$primary-color;
    }

    p {
      font-size: vars.$font-size-base;
      color: vars.$text-color-light;
      margin-top: vars.$spacing-small;
    }
  }

  .pricingContainer {
    .gridLayout {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: vars.$spacing-medium;
      justify-items: center;
    }

    .pricingCard {
      background-color: vars.$secondary-color;
      color: vars.$text-color-light;
      padding: vars.$spacing-medium;
      border-radius: vars.$border-radius-small;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: vars.$transition;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      h2 {
        font-size: vars.$font-size-xl;
        font-weight: vars.$font-weight-bold;
        color: vars.$primary-color;
        margin-bottom: vars.$spacing-small;
      }

      .price {
        font-size: vars.$font-size-xl;
        font-weight: vars.$font-weight-bold;
        margin-bottom: vars.$spacing-medium;

        span {
          font-size: 2rem;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: vars.$font-size-base;
          color: vars.$text-color-light;
          margin-bottom: vars.$spacing-small;
        }
      }

      .ctaButton {
        display: inline-block;
        padding: vars.$spacing-small vars.$spacing-medium;
        background-color: vars.$primary-color;
        color: vars.$text-color-light;
        text-align: center;
        border-radius: vars.$border-radius-small;
        font-size: vars.$font-size-base;
        font-weight: vars.$font-weight-bold;
        text-decoration: none;
        transition: background-color vars.$transition;

        &:hover {
            background-color: vars.$gradient-background;
        }
      }
    }

    .faqSection {
      margin-top: vars.$spacing-large;
      text-align: center;

      h2 {
        font-size: vars.$font-size-xl;
        font-weight: vars.$font-weight-bold;
        color: vars.$primary-color;
      }

      p {
        font-size: vars.$font-size-base;
        color: vars.$text-color-light;
        margin-top: vars.$spacing-small;
      }
    }
  }
}
