@use 'tailwindcss';
@use './variables' as vars;
@use 'sass:color'; // Import the color module

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6A0DAD;
  --secondary-color: #F5F5F5;
  --accent-color: #00BFFF;
  --neutral-color: #333333;
}

[data-theme="dark"] {
  --primary-color: #00BFFF;
  --secondary-color: #333333;
  --accent-color: #6A0DAD;
  --neutral-color: #F5F5F5;
}