@use "../variables" as vars;
@use 'sass:color';

.container {
  padding: vars.$spacing-large;
  background: vars.$secondary-color;
  color: vars.$text-color-on-secondary;

  .title {
    color: vars.$text-color-highlight;
    font-size: vars.$font-size-xl;
    margin-bottom: vars.$spacing-medium;
  }

  .description {
    font-size: vars.$font-size-base;
    line-height: 1.6;
  }
}